:root {
  --black: #111;
  --white: #fff;
  --gray: #343a40;

  --principalFont: "Raleway", sans-serif;
}
/**Global Styles**/

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: var(--principalFont);
  font-size: 1.6rem;
}
h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1;
  margin: 1rem 0 4rem 0;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 5.8rem;
}
h3 {
  font-size: 5rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}
.btn {
  color: var(--gray);
  background-color: var(--white);
  border: 1px solid var(--gray);
  transition: 0.2s ease-in;
}
.btn:hover {
  background-color: var(--gray);
  color: var(--white);
}
/**Utilities**/
.text-center {
  text-align: center;
}
.mt-5 {
  margin-top: 5rem;
}

/**Header**/
.header {
  min-height: 60rem;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  height: calc(60rem - 4rem);
  justify-content: space-between;
  color: var(--white);
}
.site-name {
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .site-name {
    font-size: 5rem;
  }
}
.site-name span {
  font-weight: 900;
}
@media (min-width: 768px) {
  .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .contact {
    align-items: flex-end;
  }
}
.phone {
  display: flex;
}
.phone::before {
  content: "";
  display: block;
  background-image: url(../img/telefono.png);
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1rem;
}
.header a {
  color: var(--white);
  font-size: 2rem;
}

.nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}
.nav a {
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease-in;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .nav a {
    padding: 1rem 2rem;
    width: auto;
  }
}
.nav a:hover {
  background-color: rgb(255 255 255 / 0.6);
}
.slogan {
  text-align: center;
}
@media (min-width: 768px) {
  .slogan {
    text-align: right;
  }
}
.slogan h1 {
  font-size: 3rem;
  margin: 0;
}
@media (min-width: 768px) {
  .slogan h1 {
    font-size: 5rem;
  }
}
.slogan p {
  margin: 0;
  line-height: 1;
}
/**About Us**/
.about {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(../img/nosotros.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media (min-width: 992px) {
  .about {
    grid-template-columns: repeat(3, 1fr);
  }
}
.about-content {
  background-color: var(--white);
  padding: 5rem;
}
@media (min-width: 992px) {
  .about-content {
    grid-column: 2/4;
  }
}
.about-content h2 {
}
.about-content p {
  margin-bottom: 1rem;
}
